*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 70px 2fr 1fr;
    grid-template-areas: "header header header"
    "left left right"
    "box1 box2 right";
  

    header{
          margin: 0.5rem;
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 2rem;
        border: 1px solid black;
        border-radius: 20px;

        h1{
            font-size: 1.5rem;
            font-weight: 900;
            line-height: 0.8;
        }
        .links{
            display: flex; 
            gap: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        opacity: 0.7;
        }

        input{
            border: none;
            outline: none;
            background-color: rgb(226, 226, 226);
            color: rgb(255, 246, 246);
            padding: 0.5rem;
            border-radius: 50px;
        }
        i{
            font-size: 1.2rem;
            padding: 0 .3rem;
        }
    }
    .left{
        grid-area: left;
        background-color: rgba(147, 143, 132, 0.582);
         border-radius: 2rem;
           margin: 0.5rem;
           padding: 2.5rem;

           h1{
            font-weight: 900;
            font-size: 3.5rem;
            line-height: 0.9;
         img{
            height: 3rem; 
            margin-left: 2rem;
         }
           }
           p{
            font-size: 0.9rem;
            margin-top: 8rem;
           }
    }
    
    .box1,.box2{
        grid-area: box1;
        background-image: url(box1.jfif);
        background-position: center;
        background-size: cover;
        margin: 0 0.2rem;
        border-radius: 2rem;
        color: white;
        position: relative;
        p{
            position: absolute;
            bottom: 0;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: 800;
        }
    }
    .box2{
        grid-area: box2;
                background-image: url(box2.jfif);
    }
    .right{
        grid-area: right;
        background-image: url(right.jfif);
        background-position: center;
        background-size: cover;
        margin: 0.5rem;
        border-radius: 2rem;
        position: relative;
        
        .buttons{
         position: absolute;
         bottom: 3rem;
         right: 2rem;

        button{
            width: 13rem;
            border: none;
            padding: .8rem;
            border-radius: 50px;
            text-transform: uppercase;
            font-weight: 500;
            i{
                background-color: black;
                font-weight:600;
                color: white;
               padding: .6rem;
               border-radius: 50%;
               margin-left: 3.3rem;
               font-size: 1rem
            }
        }
        button:nth-child(2){
            background-color: transparent;
            border: 1px solid white;
            color: white;
            i{
                background: transparent;
                color: rgb(255, 255, 255);
            }
        }
        }
    }
}